<div class="ui-transfer">
    <ul class="ui-transfer__list">
        <li v-if="showHeader" class="ui-transfer__header">
            <Checkboxs v-model="allSource">
                <span class="ui-transfer--count">{{selectedSources.length}}/{{sources.length}}</span>项
            </Checkboxs>
        </li>
        <li class="ui-transfer__body">
            <div v-if="showSearch" class="ui-transfer__search">
                <input v-model="searchSource" type="text" placeholder="搜索" class="ui-search--input">
            </div>
            <div class="ui-transfer--content">
                <ul class="ui-transfer--items" v-if="sources.length">
                    <li class="ui-transfer--item" v-for="t in filterSources">
                        <Checkboxs v-model="t.checked"></Checkboxs>
                        <span>{{t[showField]}}</span>
                    </li>
                </ul>
                <div v-else class="ui-transfer--empty">
                    {{emptyInfo}}
                </div>
            </div>
        </li>
    </ul>
    <ul class="ui-transfer__operation">
        <li class="ui-operation--left" @click="add">
            <Buttons :disabled="selectedSources.length == 0" type="primary" size="small">&gt;</Buttons>
        </li>
        <li class="ui-operation--right"  @click="remove">
            <Buttons :disabled="selectedTargets.length == 0" type="primary" @click="remove" size="small">&lt;</Buttons>
        </li>
    </ul>
    <ul class="ui-transfer__list">
        <li v-if="showHeader" class="ui-transfer__header">
            <Checkboxs v-model="allTarget">
                <span class="ui-transfer--count">{{selectedTargets.length}}/{{targets.length}}</span>项
            </Checkboxs>
        </li>
        <li class="ui-transfer--body">
            <div v-if="showSearch" class="ui-transfer__search">
                <input v-model="searchTarget" type="text" placeholder="搜索" class="ui-search--input">
            </div>
            <div class="ui-transfer__content">
                <ul class="ui-transfer__items" v-if="targets.length">
                    <li class="ui-transfer__item" v-for="t in filterTargets">
                        <Checkboxs v-model="t.checked"></Checkboxs>
                        <span>{{t[showField]}}</span>
                    </li>
                </ul>
                <div v-else class="ui-transfer--empty">
                    {{emptyInfo}}
                </div>
            </div>
        </li>
    </ul>
</div>